div {
    display: inline-block;
    background-color: blanchedalmond;
    border: 1px solid gray;
    text-align: center; /*Alinhamento horizontal*/
    height: 200px;
    width: 200px;
}

div:hover {
    background-color: yellowgreen;
}
